.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 10px;
  color: white;
}
.venues {
	height: 90%; 
    width: 26%; 
    position: fixed; 
    z-index: 1; 
    top: 40px;  
    left: 0;
    background-color: red; 
    
    overflow-x: hidden; 
    padding-top: 60px; 
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
