.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 10px;
  color: white;
}
.venues {
	height: 100%; /* 100% Full-height */
    width: 30%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;  Stay at the top 
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the t*/
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
